<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1189.va_d37a_e9e4eda_">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2097.v33db_b_de764b_e"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2097.v33db_b_de764b_e">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2725.v7b_c717eb_12ce">
    <script>pipeline {
    agent any
    stages {
        stage(&apos;Requirements&apos;) {
            steps {
                echo &apos;Getting Requirements....&apos;
            }
        }
        stage(&apos;Build&apos;) {
            steps {
                echo &apos;Building....&apos;
            }
        }
        stage(&apos;Test&apos;) {
            steps {
                echo &apos;Testing..1&apos;
                echo &apos;Testing..2&apos;
                echo &apos;Testing..3&apos;
            }
        }
        stage(&apos;Report&apos;) {
            steps {
                echo &apos;Reporting....&apos;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>